@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Roboto Flex', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 999;
    width: 100%;
}

.title{
    color: #004aad;
    font-size: 34px;
    letter-spacing: 2px;
    margin-left: 20px;
    font-family: 'Macondo', cursive;
}

.navbar-links ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

.navbar-links li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.navbar-links a{
    text-decoration: none;
    color: #000;
    padding: 10px 18px;
    font-weight: bold;
}

.navbar-links a:hover{
    background: #004aad;
    color: #eef1f5;
    padding: 10px 18px;
    border-radius: 10px;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}

#top-container{
    display: flex;
    width: 100%;
    height: 600px;
}

.main-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 140px auto;
    height: 240px;
    width: 340px;
    border-radius: 30px;
    padding-left: 10px;
}

.main-left h2{
    font-size: 40px;
    font-weight: bold;
    color: #004aad;
}

.main-left p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-left a{
    text-decoration: none;
    color: #000;
    border: 1.8px solid #004aad;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 18px;
}

.main-left a:hover{
    background-color: #004aad;
    color: #fff;
}

.main-right{
    display: grid;
    place-items: center;
    position: relative;
    width: 680px;
}

.box{
    background-color: #004aad;
    border-top-left-radius: 440px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 180px;
}

#about{
    position: relative;
    width: 100%;
    display: flex;
}

#about a{
    background: linear-gradient(to right, #00093c, #004aad);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

#about .content{
    background: linear-gradient(to right, #00093c, #004aad);
    padding: 100px;
    width: 50%;
}

.heading{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.content p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

#about img{
    width: 50%;
    background-size: cover;
    background-position: center;
}

.header{
    text-align: center;
}

.heading h2{
    color: #000;
    font-weight: 500;
    margin: 7px 0 20px;
    line-height: 1.1;
    text-align: center;
}

.heading h3{
    color: #000;
    font-size: 20px;
    font-weight: 500 ;
    text-align: center;
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;
}

.portfolio-content .col{
    position: relative;
}

.portfolio-content .col img{
    max-width: 100%;
    width: 550px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    transition: all .40s;
}

.layer:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0% #191919);
}

.layer a{
    position: absolute;
    top: 100px;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    transform: translateX(-50%);
    text-decoration: none;
    transition: all .40s;
}

.layer a:hover{
    color: #004aad;
}

.content h2{
    color: #fff;
    text-align: center;
}

.form .input{
    margin-bottom: 40px;
}

.form .input input{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.form .input textarea{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    min-height: 150px;
    border-bottom: 2px solid #fff;
}

.form .input input[type="submit"]{
    width: 150px;
    background: #fff;
    color: #000;
    cursor: pointer;
    font-weight: 400;
}

footer{
    height: auto;
    width: 100%;
    background: linear-gradient(to right, #00093c, #004aad);
    color: #fff;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.col h3{
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
}

.email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

footer ul li{
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a{
    text-decoration: none;
    color: #fff;
}

.social-icons .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: var(--clr);
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

.social-icons ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.social-icons li a{
    padding: 1rem;
    display: block;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 1060px){
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .navbar .title{
        font-size: x-large;
    }

    .navbar-links ul{
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: inline;
    }

    .images{
        display: none;
    }

    .main-right{
        display: none;
    }

    .main-left h2{
        font-size: 40px;
        font-weight: bold;
        color: #004aad;
    }

    #about{
        flex-direction: column;
    }

    #about .content, 
    #about img{
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }

    .portfolio-content{
        justify-content: center;
    }

    .portfolio-content .col{
        
        width: 350px;
        height: 450px;
    }

    #contact{
        padding: 50px;
    }

    footer{
        bottom: unset;
    }

    .col{
        flex-basis: 100%;
    }
    
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }

    .portfolio-content .col{
        flex-basis: 100%;
    }
}





































